
.icon-play:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-mail-circled:before { content: '\e803'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-behance-squared:before { content: '\f1b5'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
